{% extends "componentes/principal.html" %}

{% block titulo %}Mis notas{% endblock %}

{% block contenido %}

{% include "componentes/barra-navegacion.html" %}

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nota</h5>
          <div class="container">
            {% if nota %}
            <form action="{% url 'guardar-nota' %}" method="post" class="d-grid gap-4 form">
                {% csrf_token %}
                <div>
                    <label class="form-label">Nombre</label>
                    <input class="form-control" type="text" name="nombre" id="nombre" value="{{nota.nombre}}" />
                </div>
                <div>
                    <label class="form-label">Texto</label>
                    <textarea class="form-control" name="texto" id="texto" cols="30" rows="10">{{nota.texto}}</textarea>
                </div>
                <input type="hidden" name="id" id="id" value="{{nota.id}}" />
                <div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        {% else %}
            <form action="{% url 'guardar-nota' %}" method="post" class="d-grid gap-4 form">
                {% csrf_token %}
                <div>
                    <label class="form-label">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" />
                </div>
                <div>
                    <label class="form-label">Texto</label>
                    <textarea name="texto" id="texto" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">Formato markdown</h5>
                </div>
                <div class="col">
                    <button class="btn btn-primary">Renderizar</button>
                </div>
            </div>
          <div id="formato-markdown"></div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}