{% extends "componentes/principal.html" %}

{% block titulo %}Mis notas{% endblock %}

{% block contenido %}

{% include "componentes/barra-navegacion.html" %}

{% csrf_token %}
<div class="container p-2">
    <div class="card mx-auto">
        <div class="card-body" id="cardB">
            <div class="row justify-content-between">
            <div class="col-6">
                <h3 class="card-title tituloLista">Mis notas</h3>
            </div>
            <div class="d-grid col-2">
                <div><a href="{% url 'crear-nota' %}" class="btn btn-primary">Crear nota</a></div>
            </div>
            </div>
        </div>
    </div>
</div>

<div id="lista-notas">

</div>
{% load static %}
<script src="{% static 'js/utilidades.js' %}"></script>
<script src="{% static 'js/mis-notas.js' %}"></script>
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
const ver_mis_notas_url = "{% url 'ver-mis-notas' %}";
$.ajaxSetup({
    beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRFToken', csrftoken);
    }
});
hola();
// function loadDoc() {
//     let postObj = { 
//     id: 1,
//     nombre: 'dfasgkjasfdlasdf--------------', 
//     texto: 'AJAX AJAXAJAXAJAXAJAXAJAX',
//     }
//     const url = 'http://localhost:8000/guardar-nota/';
//     $.ajaxSetup({
//         beforeSend: function(xhr) {
//             xhr.setRequestHeader('X-CSRFToken', csrftoken);
//         }
//     });
//     $.ajax({
//         type: "POST",
//         contentType: "application/x-www-form-urlencoded",
//         url: url,
//         data: postObj,
//         dataType: "json",

//         success: function(data) {console.log(data); return false;},
//         error: function(data) {console.log(data); return false;},
//     });
// }

// function load(){
//     const url = 'http://localhost:8000/ver-mis-notas/';
// $.ajax({
//     type: "GET",
//     contentType: "application/x-www-form-urlencoded",
//     url: url,

//     success: function(data) {
//         console.log(data);
//         $('#mi-div').append(data);
//         return false;},
//     error: function(data) {console.log(data); return false;},
// });
// }

</script>

{% endblock %}